---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
}

h2, h3, h4, h5, h6 {
    color: #444;
}

#main_content {
    padding-top: 0;
}

.header_image_container {
    position: relative;
    display: inline-block;
    max-height: 250px;
    width: 100%;
}

.header_title_overlay {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.65);
    z-index: 1;
    bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 0 0;
    color: #fff;
}

.header_image_credit_overlay {
    position: absolute;
    font-size: small;
    color: #fafafa;
    background-color: rgba(32, 32, 32, 0.45);
    z-index: 1;
    font-style: italic;
    padding: 5px;
    margin: 0 0 0 0;
    right: 0;
    top: 5px;
    opacity: 50%;
}

.header_title_bare {
    padding-top: 10px;
}

/* All header images should be multiples of 250 */
.header_img {
    display: block;
    max-height: inherit;
    width: 100%;
    position: center center;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.subtitle {
    color: #777;
    font-size: x-large;
    font-weight: lighter;
}

.byline {
    color: #444;
    font-weight: lighter;
    font-style: italic;
}

.post_list_entry_subtitle {
    color: #777;
    font-style: italic;
}

.post_list_entry {
    background: #FAFAFA;
    margin-bottom: 20px;
    padding: 1px 0 1px 20px;
    border-left: 2px solid #666;

    &:hover {
        background: #DADADA;
        transition: all 100ms;
    }
}

.link_whole_div {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
