---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
}

h2, h3, h4, h5, h6 {
    /* default is #222 */
    color: #444;
}

.subtitle {
    color: #777;
    font-size: x-large;
    font-weight: lighter;
}

.byline {
    color: #444;
    font-weight: lighter;
    font-style: italic;
}

.post_list_entry_subtitle {
    color: #777;
    font-style: italic;
}

.post_list_entry {
    background: #FAFAFA;
    margin-bottom: 20px;
    padding: 1px 0 1px 20px;
    border-left: 2px solid #666;

    &:hover {
        background: #DADADA;
        transition: all 100ms;
    }
}

.link_whole_div {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}