---
layout: default
---

<header>
    <div class="title_set">
        {% if page.header_image %}
            <div class="header_image_container">
                <h1 class="header_title_overlay">{{ page.title }}</h1>
                {% if page.header_image_credit %}
                    <p class="header_image_credit_overlay">Image credit: {{ page.header_image_credit }}</p>
                {% endif %}
                <img class="header_img" src="{{ site.url }}/assets/images/{{ page.header_image }}" alt="{{ page.header_alt }}"/>
            </div>
        {% else %}
            <h1 class="header_title_bare">{{ page.title }}</h1>
        {% endif %}
        <div class="subtitle">{{ page.subtitle }}</div>
    </div>
    <div class="byline">
        Posted by {% if page.author %}{{ page.author }}{% elsif site.author %}{{ site.author }}{% endif %}
            on {{ page.date | date: "%B %d, %Y" }}
    </div>
</header><hr style="height:8px;">

{{ content }}
